/* 풋터 전체 */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute; /* 화면 크기에 맞춰서 하단에 고정하여 크기조절 */
  bottom: 0px;
  margin-bottom: 1px;
  scale: 0.7;
}

/* 풋터 가로줄 3칸 */
.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* 키보드 각 블럭 */
.keyboard-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 70px;
  font-weight: bolder;
  font-size: 24px;
  background-color: #d3d6da;
  border: 1px solid #d3d6da;
  border-radius: 10%;
  margin-right: 7px;
  cursor: pointer;
}

.keyboard-block__custom__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 70px;
  font-weight: bolder;
  font-size: 18px;
  background-color: #d3d6da;
  border: 1px solid #d3d6da;
  border-radius: 10%;
  margin-right: 7px;
  cursor: pointer;
}

.keyboard-block__custom__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 70px;
  font-weight: bolder;
  font-size: 20px;
  background-color: #d3d6da;
  border: 1px solid #d3d6da;
  border-radius: 10%;
  margin-right: 7px;
  cursor: pointer;
}

.keyboard-block__custom__2 img {
  width: 35px;
}
