/* 풋터 전체 */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  bottom: 0px;
  margin-bottom: 1px;
}

/* 풋터 가로줄 3칸 */
.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* 키보드 각 블럭 */
.keyboard-column {
  width: 40px;
  height: 50px;
  font-size: 23px;
  border: 1px solid #d3d6da;
  border-radius: 8px;
  background-color: #d3d6da;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.keyboard-column.wide {
  width: 70px;
  height: 50px;
  font-size: large;
  border: 1px solid #d3d6da;
  border-radius: 8px;
  background-color: #d3d6da;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.keyboard-column.wide img {
  width: 40px;
}
